<!-- <div class="row justify-content-center">
    <div *ngFor="let filter of sources" [class]="column">
        <ng-container *ngIf="clicked; else elseTemplate">
            <div [ngClass]="{
                'header-reddit' : filter === 'Reddit',
                'header-google' : filter === 'Google'
            }" class="header header-active" (click)="onClick()"> {{filter}} </div>
        </ng-container>
        <ng-template #elseTemplate>
            <div [ngClass]="{
                'header-reddit' : filter === 'Reddit',
                'header-google' : filter === 'Google'
            }" class="header" (click)="onClick()"> {{filter}} </div>
        </ng-template>
        
    </div>
</div> -->

<ng-container *ngIf="didClick; else elseTemplate">
    <div [ngClass]="{
        'header-reddit' : source === 'Reddit',
        'header-google' : source === 'Google'
    }" class="header header-active" (click)="onClick()"> {{source}} </div>
</ng-container>
<ng-template #elseTemplate>
    <div [ngClass]="{
        'header-reddit' : source === 'Reddit',
        'header-google' : source === 'Google'
    }" class="header" (click)="onClick()"> {{source}} </div>
</ng-template>