.post {
    position: relative;
    border-radius: 25px;
    /* height: 500px;
    width: 400px; */
    margin: 20px;
    padding: 0px;
    border: 2px solid #424242;
    
}

.header {
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    display: inline-flex;
    height: 30px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.header-twitter {
    background-color: #03a9f4;
}

.header-reddit {
    background-color: #f44336;
}

.header-google {
    background-color: #4285F4;
}

.icon {
    color: white;
    margin: 10px;
}

.clickable:hover {
    cursor: pointer;
}

a {
    color: white;
}

a:hover {
    color: #424242;
}

.filter-white {
    filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(82deg) brightness(106%) contrast(103%);
    margin-right: 10px;
}

/* #abcdefg {
    width: 300px;
    height: 400px;
    width: ;
    object-fit: fill;
} */