<div class="post">
    <div [ngClass]="{
        'header-twitter' : post.from_where === 'twitter',
        'header-reddit' : post.from_where === 'Reddit',
        'header-google' : post.from_where === 'Google',
        'header-newyorktimes' : post.from_where === 'New York Times'
    }" class="header">                
        <span>
            <fa-icon *ngIf="post.from_where === 'twitter'" class="icon fa-lg" [icon]="faIcons.faTwitter"></fa-icon>
            <fa-icon *ngIf="post.from_where === 'Reddit'" class="icon fa-lg" [icon]="faIcons.faReddit"></fa-icon>
            <fa-icon *ngIf="post.from_where === 'Google'" class="icon fa-lg" [icon]="faIcons.faGoogle"></fa-icon>
            <mat-icon *ngIf="post.from_where === 'New York Times'"class="filter-white" svgIcon="new-york-times"></mat-icon>
        </span><a [title]="postTitle" [href]="post.link" target="_blank">{{ postTitle }}</a>
        <span><fa-icon class="icon clickable fa-lg" [icon]="faDefault" (click)="onEvent(post)"></fa-icon></span>
    </div>
    <a [href]="post.link" target="_blank" class="image">
        <img [id]="postId" alt="Article">
    </a>
</div>