<div class="container">
    <div class="row">
        <div *ngFor="let post of posts" [class]="column">
            <app-post 
                [post]="post"
                [faIcon]="faIcons.faTimes"
                [faIconOutline]="faIcons.faTimes"
                [action]="'delete'"
                (getFavoritesChange)="updateFavorites($event)"
                ></app-post>
        </div>
        <div *ngIf="posts.length == 0" class="col-xl no-posts">
            No posts saved!
            <br> You can save posts by starring them in the home page.
        </div>
    </div>
</div>