<div class="container login-container">
        <form>
            <h1>Login</h1>
            <div class="form-group input-group">
                <span class="input-group-addon icon"><fa-icon [icon]="faIcons.faEnvelope"></fa-icon></span><input type="email" class="form-control" name="email" placeholder="Email"
                [(ngModel)]="loginModel.email">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon icon"><fa-icon [icon]="faIcons.faKey"></fa-icon></span><input type="password" class="form-control" name="Password" placeholder="Password"
                [(ngModel)]="loginModel.password">
            </div>
            <div class="form-check input-group remember-box-container">
                <input class="form-check-input remember-box" type="checkbox" name="RememberMe">Remember Me
            </div>

            <button class="btn btn-primary btn-block login-button" (click)="loginPressed(loginModel)">Login</button>
            <div class="link-container">
                <a href="#">Don't Have Clout? Create an Account</a>
            </div>
        </form>
</div>
