<div class="container login-container">
        <form (ngSubmit)="onSubmit" [formGroup]="form" id="loginForm">
            <h1>Login</h1>
            <div class="form-group input-group">
                <span class="icon"><fa-icon [icon]="faIcons.faEnvelope"></fa-icon></span><input type="email" class="form-control" id="Email" placeholder="Email"
                required
                [(ngModel)]="loginModel.email" name="email" formControlName="email">
            </div>
            <div *ngIf='(email.invalid) && (email.dirty && email.touched)' class="alert alert-danger">
                <div *ngIf="email.errors.required">
                    Email is required
                </div>
                <div *ngIf="email.errors.invalidEmail && !email.errors.required">
                    Invalid Email
                </div>
            <div *ngIf='submitted' class="alert alert-danger">
                Invalid email or password
            </div>
            </div>
            <div class="form-group input-group">
                <span class="icon"><fa-icon [icon]="faIcons.faKey"></fa-icon></span><input type="password" class="form-control" id="Password" placeholder="Password"
                required
                [(ngModel)]="loginModel.password" name="password" formControlName="password">
            </div>
            <div *ngIf='password.touched && password.invalid' class="alert alert-danger">
                <div *ngIf="password.errors.required">
                    Password is required
                </div>
            </div>

            <button class="btn btn-primary btn-block login-button" type='submit' id="loginButton"
            [disabled]="email.invalid || password.invalid">Login</button>
            <div class="link-container">
                <a [routerLink]="['/signup']" routerLinkActive="router-link-active" >Don't Have Clout? Create an Account</a>
            </div>
        </form>
</div>
