<div class="post">
    <div [ngClass]="{
        'header-twitter' : post.from_where === 'twitter',
        'header-reddit' : post.from_where === 'reddit'
    }" class="header">                
        <span>
            <fa-icon *ngIf="post.from_where === 'twitter'" class="icon fa-lg" [icon]="faIcons.faTwitter"></fa-icon>
            <fa-icon *ngIf="post.from_where === 'reddit'" class="icon fa-lg" [icon]="faIcons.faReddit"></fa-icon>
        </span><a [href]="post.url" target="_blank">{{ post.title && post.title.slice(0, 27) + '...' || post.name }}</a>
        <span><fa-icon class="icon clickable fa-lg" [icon]="faDefault" (click)="onEvent(post)"></fa-icon></span>
    </div>
</div>